* {
  padding-block-end: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}


.container {
  max-width: 1200px;
  margin: 150px auto;
}

section {
    height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #2d275a;
  color: #ffffff;
}
